<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426256480277-6gvet31eds2qhcknci4bqt060kbo3i9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426256480277-6gvet31eds2qhcknci4bqt060kbo3i9a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>426256480277-1amli47m5qhl6pfl77mmrtlr0uka2ah0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDj4yysTFHXCL7qT7Sjt-n5q1X2984NddI</string>
	<key>GCM_SENDER_ID</key>
	<string>426256480277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driver</string>
	<key>PROJECT_ID</key>
	<string>bay-yahe-9f408</string>
	<key>STORAGE_BUCKET</key>
	<string>bay-yahe-9f408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426256480277:ios:d7ae48b961404e3c27761c</string>
	<key>DATABASE_URL</key>
	<string>https://bay-yahe-9f408-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>